@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
}

.opposite {
    color: blue;
    background-color: gray;
}

p {
    background-color: lightgray;
}