html {
  font-family: sans-serif;
}

/* Your CSS below here */
div {
    background-color: red;
    width: 200px;
    height: 150px;
    justify-self: center;
    text-align: center;
    align-content: center;
    font-size: 1.5rem;
    color: white;
    border-radius: 1rem;
    border: 1px solid darkred;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.584);
    text-shadow: -1px 1px  black;
    background: linear-gradient(
    135deg,
  rgba(255, 3, 3, 0.998) 0%,      
  rgba(255, 0, 0, 0.694) 30%,   
  rgb(255, 0, 0) 100%  
    );
}
