.columns {
    column-count: 4;
    column-width: 250px;
    column-rule: 3px solid #333;
    column-gap: 3;
}

.columns p {
    margin-top: 0;
}

.columns h2 {
    margin-top: 0;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    break-inside: avoid;
}

.quote {
    font-size: 3rem;
    text-align: center;
    color: #333;
    column-span: all;
}