body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.todo-main {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 500px;
}

.add-todo{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  border: 2px solid rgb(228, 223, 223);
}